*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: $white-dark;
    color: $white;
    font-size: 1em;

    display: flex;
    min-height: 100vh;

    font-weight: 300;
}

a {
    color: $white-dark;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

/*p {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 2em;
}*/

code {
  padding: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline;

  font-size: .8em;
  color: #c0341d;
  background-color: #fcedea;
}

.examplecode {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 2em 1em 1em 1em;
  background: $white;
  position: relative;

  &::before {
    top: 0;
    left: 0;
    padding: .25em;
    background-color: $blue-lighter;
    color: $white;
    content: "example";
    position: absolute;
    font-size: 0.8em;
  }
}

.exampletext {
  padding: 1em;
  font-size: 1.25em;
  @include linearGradientHorizontal(rgba($black, 0.05), rgba($black, 0));
  box-shadow: 1em 0 1em rgba($black, 0.05) inset;
}