body {
    font-family: 'Nunito', sans-serif;
    background: $white-dark;
    color: $white;
    font-size: 1em;

    display: flex;
    min-height: 100vh;

    font-weight: 300;
}

a {
    color: $white-dark;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}