$primary-color: #0091EA;
$primary-color-lighter: #9fdaff;
$primary-color-light: #08ACF2;
$primary-color-dark: #2384bf;

$white: #ffffff;
$white-dark: #f0f0f0;

$black: #333;
$black-lighter: #ddd;

$menu-width: 18%;