$blue: #0091EA;
$blue-lighter: #9fdaff;
$blue-light: #08ACF2;
$blue-dark: #2384bf;

$grey: #EAEAEA;
$grey-dark: #909090;

$red: #FC5D60;

$green: #55B387;

$white: #ffffff;
$white-dark: #f0f0f0;

$black: #333;
$black-lighter: #ddd;

$menu-width: 18%;

$font-main: "Open Sans", sans-serif;
$font-special: "Nunito", sans-serif;