.btn{
      display: flex;
      flex-direction: column;

      .btn__type{
        text-transform: uppercase;
        margin-bottom: 1em;
        font-size: 0.8em;
        align-self: center;
      }

     .btn__default{
       font-family: 'Nunito', sans-serif ;
       font-weight: 300 ;
       font-size: 1.5em ;
       -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
       box-sizing: content-box;
       width: 250px;
       height: 70px;
       cursor: pointer;
       margin: 0 auto;
       border: 2px solid $blue;
       -webkit-border-radius: 40px;
       border-radius: 40px;
       color:$blue;
       background-color: $white-dark;
       text-align: center;
       -o-text-overflow: clip;
       text-overflow: clip;
       letter-spacing: 1px;

     }

    .btn__default:hover{
        color:$white;
        background:$blue;
    }

    .btn__secondary{
      font-family: 'Nunito', sans-serif ;
      font-weight: 300 ;
      font-size: 1.5em ;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      width: 250px;
      height: 70px;
      cursor: pointer;
      margin: 0 auto;
      border: 2px solid $red;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      color: $red;
      background-color: $white-dark;
      text-align: center;
      -o-text-overflow: clip;
      text-overflow: clip;
      letter-spacing: 1px;
    }

  .btn__secondary:hover{
    color:$white;
    background: $red;
  }

  .btn__green{
    font-family: 'Nunito', sans-serif ;
    font-weight: 300 ;
    font-size: 1.5em ;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    height: 70px;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid $green;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color:$green;
    background-color: $white-dark;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
  }
  .btn__green:hover{
    color:$white;
    background: $green;
  }
  .code__container{
    align-self: center;
  }
}